version: "3.5"
services:
  postgresql:
    image: postgres:14
    container_name: temporal-postgresql
    environment:
      - POSTGRES_USER=temporal
      - POSTGRES_PASSWORD=temporal
      - POSTGRES_DB=temporal
    ports:
      - "5432:5432"

  temporal:
    image: temporalio/auto-setup:latest
    container_name: temporal-server
    ports:
      - "7233:7233"
    environment:
      - DB=postgres12             # <--- Đã sửa ở đây
      - DB_PORT=5432
      - POSTGRES_USER=temporal
      - POSTGRES_PWD=temporal
      - POSTGRES_SEEDS=postgresql
    depends_on:
      - postgresql

  temporal-ui:
    image: temporalio/ui:latest
    container_name: temporal-ui
    ports:
      - "8233:8080"
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
    depends_on:
      - temporal